{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../../jsi18n/" }}"></script>
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
    <li>
        <a href="{% url 'admin:index' %}">
            {% trans 'Home' %}
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">
            {{ opts.app_label|capfirst|escape }}
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url opts|admin_urlname:'changelist' %}">
            {{ opts.verbose_name_plural|capfirst }}
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url opts|admin_urlname:'changelist' %}{{ original.pk }}">
            {{ original|truncatewords:"18" }}
        </a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        {% trans 'Change password' %}
    </li>
    {% endblock %}
{% endif %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger alert-block">
        <button class="close" data-dismiss="alert">×</button>
        {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </div>
{% endif %}

<form action="{{ form_url }}" method="POST" class="form-horizontal" id="{{ opts.module_name }}_form">
    {% csrf_token %}
    {% block form_top %}{% endblock %}
<div>
{% if is_popup %}
    <input type="hidden" name="_popup" value="1" />
{% endif %}

<fieldset>

<legend>
    {% blocktrans with username=original.username %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}
</legend>


<div class="control-group{% if form.password1.errors %} error{% endif %}">
    <label class="control-label required" for="id_password1">
        {% trans 'Password' %}
    </label>

    <div class="controls">
        {{ form.password1 }}

        {% if form.password1.errors %}
            <span class="help-inline">{{ form.password1.errors.0 }}</span>
        {% endif %}
    </div>
</div>

<div class="control-group{% if form.password2.errors %} error{% endif %}">
    <label class="control-label required" for="id_password2">
        {% trans 'Password (again)' %}
    </label>

    <div class="controls">
        {{ form.password2 }}

        {% if form.password2.errors %}
            <span class="help-inline">{{ form.password2.errors.0 }}</span>
        {% endif %}

        <p class="help-block">
            {% trans 'Enter the same password as above, for verification.' %}
        </p>
    </div>
</div>


<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="{% trans 'Change password' %}" />
</div>

</fieldset>

<script type="text/javascript">document.getElementById("id_password1").focus();</script>
</form>
{% endblock %}
